body {
    font-family: 'PT Serif', serif;
    font-size: smaller;
    text-align: left;
    display: inline-block;
    color: rgb(60, 56, 56);
    margin-left: 10%;
    margin-right: 10%;
}

.card-img-top {
    width: 50%;
    height: 10vw;
    align-items: center;
}

mark {
    font-family: 'Playfair Display', serif;
    font-size: small;
}